{% extends 'base.html '%}
{% block body%}
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <label for="name">Movie Name:</label>
  <input type="text" name="name"><br>
  <p><label for="desc">Description :</label> </p>
  <textarea name="desc" rows="6" cols="50"></textarea><br><br>
  <label for="year">year :</label>
  <input type="text"  name="year"><br><br>
  <input type="file"  name="image"><br><br>
  <input type="submit" value="Submit"><br>

</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
{% endblock %}